<html lang="en-US" class="js history hashchange cssgradients rgba no-touch boxshadow hasjs haspushstate ishttp" style>

<head>
  <title>Oracle</title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <link href="https://www.oracle.com/assets/css/compass.css" media="print, screen" rel="Stylesheet" type="text/css">

  <script src="https://www.oracle.com/asset/web/js/jquery.js"></script>
  <script type="text/javascript" src="https://www.oracle.com/assets/js/compass.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <meta name="siteid" content="us">
  <meta name="countryid" content="US">
  <meta name="country" content="United States">
  <meta name="Language" content="en">
  <meta name="altpages" content="ae,ae-ar,ar,au,br,ca-en,ca-fr,cn,co,cz,de,es,fr,in,it,jp,kr,mx,nl,pl,ro,ru,se,tr,tw,uk">

<script>window.ohcglobal || document.write('<script src="/en/dcommon/js/global.js">\x3C/script>')</script>
    <link rel="schema.dcterms" href="http://purl.org/dc/terms/">
    <meta name="dcterms.created" content="2022-02-08T19:22:56+00:00">
    
    <meta name="dcterms.category" content="database">
    <meta name="dcterms.isVersionOf" content="HAIAD">
    <meta name="dcterms.product" content="en/database/oracle/oracle-database/19">
    
    <meta name="dcterms.release" content="Release 19">
  <script id="ssot-metadata" type="application/json">{"primary":{"category":{"short_name":"database","element_name":"Database","display_in_url":true},"suite":{"short_name":"oracle","element_name":"Oracle","display_in_url":true},"product_group":{"short_name":"not-applicable","element_name":"Not applicable","display_in_url":false},"product":{"short_name":"oracle-database","element_name":"Oracle Database","display_in_url":true},"release":{"short_name":"19","element_name":"Release 19","display_in_url":true}}}</script>
    <script type="application/ld+json">{"@context":"https://schema.org","@type":"WebPage","name":"Oracle","datePublished":"2021-05-19 12:04:00 GMT","dateModified":"2023-09-14 15:06:50 GMT"}</script>
    
    <meta name="dcterms.title" content="Oracle MAA Reference Architectures">
    <meta name="dcterms.identifier" content="F36058-05">
  </head>

<body class="f11 f11v0 ready">
  <div id="consent_blackbar"></div>
  <div class="f11w1">


    <!-- U02v2 -->
    <div class="u02smap mwidth ocom-base">

      <h1 class="hdx">Site Map</h1>
      <div id="u02mainmenu" class="u02menucontent">
        <!-- LVL 1 -->
        <div class="u02menu-l1">
          <ul aria-labelledby="u02menulink" id="menubar1" role="menu">
            <!-- ############## CLOUD APPLICATIONS ##############-->
            <li role="none">
              <a role="menuitem" href="https://docs.oracle.com/en/cloud/saas/index.html">Cloud Applications</a>
            </li>
            <!-- ############## CLOUD INFRASTRUCTURE ##############-->
           <li role="none">
              <h5 role="menuitem" aria-haspopup="true" aria-label="Cloud infrastructure">
                Cloud Infrastructure
              </h5>
                <!-- LVL 2 -->
              <div role="none" class="u02menu-l2" data-lbl="cloud-infrastructure">
                <ul role="menu">
                  <li role="none"><a role="menuitem" aria-label="Get started" data-lbl="get-started" href="https://docs.cloud.oracle.com/en-us/iaas/Content/GSG/Concepts/baremetalintro.htm">Get Started</a></li>
                  <li role="none"><a role="menuitem" aria-label="Free tier" data-lbl="free-tier" href="https://docs.cloud.oracle.com/en-us/iaas/Content/FreeTier/freetier.htm">Free Tier</a></li>
                  <li role="none"><a role="menuitem" aria-label="Government cloud" data-lbl="government-cloud" href="https://docs.cloud.oracle.com/en-us/iaas/Content/General/Concepts/govlanding.htm">Government Cloud</a></li>
                  <li role="none"><a role="menuitem" aria-label="Services" data-lbl="services" href="https://docs.cloud.oracle.com/en-us/iaas/Content/services.htm">Services</a></li>
                  <li role="none"><a role="menuitem" aria-label="Developer resources" data-lbl="developer-resources" href="https://docs.cloud.oracle.com/en-us/iaas/Content/devtoolshome.htm">Developer Resources</a></li>
                  <li role="none"><a role="menuitem" aria-label="Security" data-lbl="security" href="https://docs.cloud.oracle.com/en-us/iaas/Content/Security/Concepts/security.htm">Security</a></li>
                  <li role="none"><a role="menuitem" aria-label="More resources" data-lbl="more-resources" href="https://docs.cloud.oracle.com/en-us/iaas/Content/General/Reference/more.htm">More Resources</a></li>
                  <li role="none"><a role="menuitem" aria-label="Launch infrastructure console" data-lbl="launch-infrastructure-console" href="https://console.us-phoenix-1.oraclecloud.com/">Launch Infrastructure Console</a></li>
                  <li role="none"><a role="menuitem" aria-label="Cloud infrastructure" data-lbl="all-cloud-infrastructure" href="https://docs.cloud.oracle.com/iaas/Content/home.htm">All Cloud Infrastructure</a></li>
                 </ul>
              </div>
                <!-- / LVL 2 -->
            </li>
            <!-- ############## ON-PREMISE APPLICATIONS ##############-->
            <li role="none">
                <h5 role="menuitem" aria-haspopup="true" aria-label="On-Premise Applications">
                  On-Premise Applications
                </h5>
                <!-- LVL 2 -->
                <div role="none" class="u02menu-l2" data-lbl="applications">
                  <ul role="menui">
                    <li role="none"><a role="menuitem" aria-label="fusion applications on premise" data-lbl="fusion-apps-premise" href="https://docs.oracle.com/en/applications/fusion-apps/index.html">Fusion Applications On Premise</a></li>
                    <li role="none"><a role="menuitem" aria-label="enterprise performance management" data-lbl="enterprise-performance-management" href="https://docs.oracle.com/en/applications/enterprise-performance-management/index.html">Enterprise Performance Management</a></li>
                    <li role="none"><a role="menuitem" aria-label="e-business" data-lbl="e-business" href="https://docs.oracle.com/en/applications/e-business-suite/index.html">E-Business</a></li>
                    <li role="none"><a role="menuitem" aria-label="peopleSoft" data-lbl="peoplesoft" href="https://docs.oracle.com/en/applications/peoplesoft/index.html">PeopleSoft</a></li>
                    <li role="none"><a role="menuitem" aria-label="siebel" data-lbl="siebel" href="https://docs.oracle.com/en/applications/siebel/index.html">Siebel</a></li>
                    <li role="none"><a role="menuitem" aria-label="JD edwards" data-lbl="jd-edwards" href="https://docs.oracle.com/en/applications/jd-edwards/index.html">JD Edwards</a></li>
                    <li role="none"><a role="menuitem" aria-label="oracle applications" data-lbl="all-applications" href="https://docs.oracle.com/en/applications/index.html">All Applications</a></li>
                  </ul>
                </div>
                <!-- / LVL 2 -->
            </li>
            <!-- ############## MIDDLEWARE ##############-->
            <li role="none">
                <h5 role="menuitem" aria-haspopup="true" aria-label="Middleware">
                    Middleware
                  </h5>
                <!-- LVL 2 -->
                <div role="none" class="u02menu-l2" data-lbl="middleware">
                    <ul role="menu">
                      <li role="none"><a role="menuitem" aria-label="business intelligence" data-lbl="business-intelligence" href="https://docs.oracle.com/pls/topic/lookup?ctx=fmwlatest&id=menubi">Business Intelligence</a></li>
                      <li role="none"><a role="menuitem" aria-label="data integrator" data-lbl="data-integrator" href="https://docs.oracle.com/pls/topic/lookup?ctx=fmwlatest&id=menudi">Data Integrator</a></li>
                      <li role="none"><a role="menuitem" aria-label="enterprise manager" data-lbl="enterprise-manager" href="https://docs.oracle.com/pls/topic/lookup?ctx=fmwlatest&id=menuem">Enterprise Manager</a></li>
                      <li role="none"><a role="menuitem" aria-label="goldengate" data-lbl="golden-gate" href="https://docs.oracle.com/pls/topic/lookup?ctx=fmwlatest&id=menugg">GoldenGate</a></li>
                      <li role="none"><a role="menuitem" aria-label="identity management" data-lbl="identity-management" href="https://docs.oracle.com/pls/topic/lookup?ctx=fmwlatest&id=menuidm">Identity Management</a></li>
                      <li role="none"><a role="menuitem" aria-label="JavaScript extension toolkit" data-lbl="javascript-extension-toolkit" href="https://docs.oracle.com/pls/topic/lookup?ctx=jetlatest&id=homepage">JavaScript Extension Toolkit</a></li>
                      <li role="none"><a role="menuitem" aria-label="platform security services" data-lbl="platform-security-services" href="https://docs.oracle.com/pls/topic/lookup?ctx=fmwlatest&id=menuopss">Platform Security Services</a></li>
                      <li role="none"><a role="menuitem" aria-label="SOA suite" data-lbl="soa-suite" href="https://docs.oracle.com/pls/topic/lookup?ctx=fmwlatest&id=menusoa">SOA Suite</a></li>
                      <li role="none"><a role="menuitem" aria-label="web center" data-lbl="web-center" href="https://docs.oracle.com/pls/topic/lookup?ctx=fmwlatest&id=menuwc">Web Center</a></li>
                      <li role="none"><a role="menuitem" aria-label="weblogic server" data-lbl="weblogic-server" href="https://docs.oracle.com/pls/topic/lookup?ctx=fmwlatest&id=menuwls">WebLogic Server</a></li>
                      <li role="none"><a role="menuitem" aria-label="middleware documentation" data-lbl="all-middleware" href="https://docs.oracle.com/pls/topic/lookup?ctx=fmwlatest&id=menuall">All Middleware</a></li>
                    </ul>
                  </div>
                  <!-- / LVL 2 -->
            </li>
            <!-- ############## DATABASE ##############-->
            <li role="none">
              <h5 role="menuitem" aria-haspopup="true" aria-label="Database">Database</h5>
              <div role="none" class="u02menu-l2" data-lbl="database">
                <ul role="menu">
                  <li role="none"><a role="menuitem" aria-label="big data" data-lbl="big-data" href="https://docs.oracle.com/en/bigdata/index.html">Big Data</a></li>
                  <li role="none"><a role="menuitem" aria-label="enterprise manager" data-lbl="enterprise-manager" href="https://docs.oracle.com/en/enterprise-manager/index.html">Enterprise Manager</a></li>
                  <li role="none"><a role="menuitem" aria-label="oracle database" data-lbl="oracle-database" href="https://docs.oracle.com/en/database/oracle/oracle-database/index.html">Oracle Database</a></li>
                  <li role="none"><a role="menuitem" aria-label="other databases" data-lbl="other-databases" href="https://docs.oracle.com/en/database/other-databases/index.html">Other Databases</a></li>
                  <li role="none"><a role="menuitem" aria-label="database documentation" data-lbl="all-database" href="https://docs.oracle.com/en/database/index.html">All Database</a></li>
                </ul>
              </div>
            </li>
            <!-- ############## ENGINEERED SYSTEMS ##############-->
            <li role="none">
              <h5 role="menuitem" aria-haspopup="true" aria-label="Engineered systems">Engineered Systems</h5>
              <div role="none" class="u02menu-l2" data-lbl="engineered-systems">
                  <ul role="menu">
                    <li role="none"><a role="menuitem" aria-label="advanced support gateway" data-lbl="advanced-support-gateway" href="https://docs.oracle.com/cd/E41177_01/index.html">Advanced Support Gateway</a></li>
                    <li role="none"><a role="menuitem" aria-label="autonomous health checks and diagnostics" data-lbl="autonomous-health-checks-and-diagnostics" href="https://docs.oracle.com/en/engineered-systems/health-diagnostics/">Autonomous Health Checks and Diagnostics</a></li>
                    <li role="none"><a role="menuitem" aria-label="big data appliance" data-lbl="big-data-appliance" href="https://docs.oracle.com/en/bigdata/big-data-appliance/">Big Data Appliance</a></li>
                    <li role="none"><a role="menuitem" aria-label="database appliance" data-lbl="database-appliance" href="https://docs.oracle.com/en/engineered-systems/oracle-database-appliance/">Database Appliance</a></li>
                    <li role="none"><a role="menuitem" aria-label="enterprise manager" data-lbl="enterprise-manager" href="https://docs.oracle.com/en/enterprise-manager/index.html">Enterprise Manager</a></li>
                    <li role="none"><a role="menuitem" aria-label="exadata database machine" data-lbl="exadata-database-machine" href="https://docs.oracle.com/en/engineered-systems/exadata-database-machine/">Exadata Database Machine</a></li>
                    <li role="none"><a role="menuitem" aria-label="exalogic elastic cloud" data-lbl="exalogic-elastic-cloud" href="https://docs.oracle.com/cd/E18476_01/index.htm">Exalogic Elastic Cloud</a></li>
                    <li role="none"><a role="menuitem" aria-label="exalytics in-memory machine" data-lbl="exalytics-in-memory-machine" href="https://docs.oracle.com/en/engineered-systems/index.html#OracleExalyticsIn-MemoryMachine">Exalytics In-Memory Machine</a></li>
                    <li role="none"><a role="menuitem" aria-label="minicluster" data-lbl="minicluster" href="https://docs.oracle.com/cd/E69469_01/index.html">MiniCluster</a></li>
                    <li role="none"><a role="menuitem" aria-label="private cloud appliance" data-lbl="private-cloud-appliance" href="https://docs.oracle.com/en/engineered-systems/private-cloud-appliance/">Private Cloud Appliance</a></li>
                    <li role="none"><a role="menuitem" aria-label="supercluster" data-lbl="supercluster" href="https://docs.oracle.com/en/engineered-systems/index.html#OracleSuperCluster">SuperCluster</a></li>
                    <li role="none"><a role="menuitem" aria-label="zero data loss recovery appliance" data-lbl="zero-data-loss-recovery-appliance" href="https://docs.oracle.com/en/engineered-systems/zero-data-loss-recovery-appliance/">Zero Data Loss Recovery Appliance</a></li>
                    <li role="none"><a role="menuitem" aria-label="ZFS storage appliance" data-lbl="zfs-storage-appliance" href="https://www.oracle.com/technetwork/documentation/oracle-unified-ss-193371.html#nas">ZFS Storage Appliance</a></li>
                    <li role="none"><a role="menuitem" aria-label="engineered systems documentation" data-lbl="supercluster" href="https://docs.oracle.com/en/engineered-systems/index.html">All Engineered Systems</a></li>
                  </ul>
                </div>
            </li>
            <!-- ############## JAVA ##############-->
            <li role="none">
              <h5 role="menuitem" aria-haspopup="true" aria-label="Java">Java</h5>
              <div role="none" class="u02menu-l2" data-lbl="java">
                <ul role="menu">
                  <li role="none"><a role="menuitem" aria-label="java EE" data-lbl="java-ee" href="https://docs.oracle.com/javaee/7/index.html">Java EE</a></li>
                  <li role="none"><a role="menuitem" aria-label="java embedded" data-lbl="java-embedded" href="https://docs.oracle.com/javame/8.3/index.html">Java Embedded</a></li>
                  <li role="none"><a role="menuitem" aria-label="java SE" data-lbl="java-se" href="https://www.oracle.com/pls/topic/lookup?ctx=en/java/javase&id=javaselatest">Java SE</a></li>
                  <li role="none"><a role="menuitem" aria-label="java documentation" data-lbl="all-java" href="https://docs.oracle.com/en/java/index.html">All Java</a></li>
                </ul>
              </div>
            </li>
            <!-- ############## HARDWARE ##############-->
            <li role="none">
                <h5 role="menuitem" aria-haspopup="true" aria-label="Hardware">Hardware</h5>
                <div role="none" class="u02menu-l2" data-lbl="hardware">
                  <ul role="menu">
                    <li role="none"><a role="menuitem" aria-label="networking" data-lbl="networking" href="https://docs.oracle.com/en/networking/index.html">Networking</a></li>
                    <li role="none"><a role="menuitem" aria-label="servers" data-lbl="servers" href="https://docs.oracle.com/en/servers/index.html">Servers</a></li>
                    <li role="none"><a role="menuitem" aria-label="storage" data-lbl="storage" href="https://docs.oracle.com/en/storage/index.html">Storage</a></li>
                    <li role="none"><a role="menuitem" aria-label="hardware documentation" data-lbl="all-hardware" href="https://docs.oracle.com/en/hardware/index.html">All Hardware</a></li>
                  </ul>
                </div>
            </li>
             <!-- ############## OPERATING SYSTEMS ##############-->
            <li role="none">
                <h5 role="menuitem" aria-haspopup="true" aria-label="Operating systems">Operating Systems</h5>
                <!-- LVL 2 -->
                <div role="none" class="u02menu-l2" data-lbl="operating-systems">
                  <ul role="menu">
                    <li role="none"><a role="menuitem" aria-label="developer studio" data-lbl="developer-studio" href="https://docs.oracle.com/en/operating-systems/studio.html">Developer Studio</a></li>
                    <li role="none"><a role="menuitem" aria-label="linux" data-lbl="linus" href="https://docs.oracle.com/en/operating-systems/linux.html">Linux</a></li>
                    <li role="none"><a role="menuitem" aria-label="solaris" data-lbl="solaris" href="https://docs.oracle.com/en/operating-systems/solaris.html">Solaris</a></li>
                    <li role="none"><a role="menuitem" aria-label="solaris cluster" data-lbl="solaris-cluster" href="https://docs.oracle.com/en/operating-systems/cluster.html">Solaris Cluster</a></li>
                    <li role="none"><a role="menuitem" aria-label="operating systems documentation" data-lbl="all-operating-systems" href="https://docs.oracle.com/en/operating-systems/index.html">All Operating Systems</a></li>
                  </ul>
                </div>
            </li>
            <!-- ############## VIRTUALIZATION ##############-->
            <li role="none">
              <h5 role="menuitem" aria-haspopup="true" aria-label="Virtualization">Virtualization</h5>
              <!-- LVL 2 -->
              <div role="none" class="u02menu-l2" data-lbl="virtualization">
                  <ul role="menu">
                    <li role="none"><a role="menuitem" aria-label="oracle linux virtualization manager" data-lbl="linux-virtualization-manager" href="https://docs.oracle.com/cd/F15085_01/index.html">Oracle Linux Virtualization Manager</a></li>
                    <li role="none"><a role="menuitem" aria-label="oracle VM" data-lbl="vm" href="https://docs.oracle.com/en/virtualization/index.html#OracleVM">Oracle VM</a></li>
                    <li role="none"><a role="menuitem" aria-label="oracle VM virtualbox" data-lbl="vm-virtualBox" href="https://www.oracle.com/technetwork/server-storage/virtualbox/documentation/index.html">Oracle VM VirtualBox</a></li>
                    <li role="none"><a role="menuitem" aria-label="secure global desktop" data-lbl="secure-global-desktop" href="https://www.oracle.com/technetwork/documentation/sgd-193668.html">Secure Global Desktop</a></li>
                    <li role="none"><a role="menuitem" aria-label="virtualization documentation" data-lbl="all-virtualization" href="https://docs.oracle.com/en/virtualization/index.html">All Virtualization</a></li>
                  </ul>
              </div>
            </li>
            <!-- ############## INDUSTRIES ##############-->
            <li role="none">
              <h5 role="menuitem" aria-haspopup="true" aria-label="Industries">Industries</h5>
                <!-- LVL 2 -->
                <div role="none" class="u02menu-l2" data-lbl="industries">
                  <ul role="menu">
                    <li role="none"><a role="menuitem" aria-label="communications" data-lbl="communications" href="https://docs.oracle.com/en/industries/communications/index.html">Communications</a></li>
                    <li role="none"><a role="menuitem" aria-label="construction and engineering" data-lbl="construction-and-engineering" href="https://docs.oracle.com/en/industries/construction-engineering/index.html">Construction and Engineering</a></li>
                    <li role="none"><a role="menuitem" aria-label="financial services" data-lbl="financial-services" href="https://docs.oracle.com/en/industries/financial-services/index.html">Financial Services</a></li>
                    <li role="none"><a role="menuitem" aria-label="food and beverage" data-lbl="food-and-beverage" href="https://docs.oracle.com/en/industries/food-beverage/index.html">Food and Beverage</a></li>
                    <li role="none"><a role="menuitem" aria-label="health sciences" data-lbl="health-sciences" href="https://docs.oracle.com/en/industries/health-sciences/index.html">Health Sciences</a></li>
                    <li role="none"><a role="menuitem" aria-label="hospitality" data-lbl="hospitality" href="https://docs.oracle.com/en/industries/hospitality/index.html">Hospitality</a></li>
                    <li role="none"><a role="menuitem" aria-label="insurance" data-lbl="insurance" href="https://docs.oracle.com/en/industries/insurance/index.html">Insurance</a></li>
                    <li role="none"><a role="menuitem" aria-label="public sector" data-lbl="public-sector" href="https://www.oracle.com/technetwork/documentation/pubsectrevmgmt-154608.html">Public Sector</a></li>
                    <li role="none"><a role="menuitem" aria-label="retail" data-lbl="retail" href="https://docs.oracle.com/en/industries/retail/index.html">Retail</a></li>
                    <li role="none"><a role="menuitem" aria-label="utilities" data-lbl="utilities" href="https://docs.oracle.com/en/industries/utilities/index.html">Utilities</a></li>
                    <li role="none"><a role="menuitem" aria-label="industries documentation" data-lbl="all-industries" href="https://docs.oracle.com/en/industries/index.html">All Industries</a></li>
                 </ul>
                </div>
            </li>
            <!-- ############## ARCHITECTURE CENTER ##############-->
            <li role="none">
              <h5 role="menuitem" aria-haspopup="true" aria-label="Architecture Center">Architecture Center</h5>
                <!-- LVL 2 -->
              <div role="none" class="u02menu-l2" data-lbl="cloud-infrastructure">
                <ul role="menu">
                  <li role="none"><a role="menuitem" aria-label="Reference Architectures" href="https://docs.oracle.com/solutions/?q=&cType=reference-architectures&sort=date-desc&lang=en">Reference Architectures</a></li>
                  <li role="none"><a role="menuitem" aria-label="Solution Playbooks" href="https://docs.oracle.com/solutions/?q=&cType=solution-playbook&sort=date-desc&lang=en">Solution Playbooks</a></li>
                </ul>
              </div>
                <!-- / LVL 2 -->
                <hr role="none">
            </li>
            <!-- ############## PRODUCTS A-Z ##############-->
            <li role="none">
              <a role="menuitem" aria-label="products a-z" href="https://docs.oracle.com/en/browseall.html">Products A-Z</a>
            </li>
            <!-- ############## HELP CENTER ##############-->
            <li role="none">
              <a role="menuitem" aria-label="help center home" href="https://docs.oracle.com">Help Center Home</a>
            </li>
            <!-- ############## ORACLE.COM ##############-->
            <li role="none">
              <a role="menuitem" aria-label="oracle.com home" href="https://www.oracle.com/index.html">Oracle.com Home</a>
              <hr role="none">
            </li>
            <li role="none">
              <a role="menuitem" aria-label="Get started with cloud" href="https://docs.oracle.com/en/cloud/index.html">Get started with Cloud</a>
            </li>
          </ul>
        </div>
        <!-- / LVL 1 -->
      </div>

    </div>
    <!-- /U02v2 -->
  </div>

  <div class="u22"><a id="u22" class="icn-img icn-arrow-up u22show" href="#top">&nbsp;<b>TOP</b></a></div>
</body>

</html>
