/* SVG Interactive Diagram Kit - version 5.1.0 */

body * {
	font-family: "Oracle Sans",-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif;
	font-size: 14px;
	}

  
 #Intro {
	 max-width: 900px;
	 margin-bottom: 18px;
	 margin-top: 8px;
 }
 
 #Intro p {
	 margin-bottom:0px;
 }

 

h1 {
	font-size: 36px;
}
 
 #SlideshowControls {
	 margin-top:5px;
 }
 
 .slidestatus{
display: inline;
padding-left: 5px;
color: #696969;
margin-bottom: 0px;
font-size: 12px;
}
 
 #SlideContainer {
	width: 100%;
	height: 62%;
	overflow: auto;
	
}

#SVGGraphic {
	padding:10px 30px 10px 30px;
}


.box {
     fill:red;
}

svg a {
	cursor: default;
}
 
.clickable:hover {
	cursor: pointer; cursor: hand; 
	fill-opacity:0.6;
}

#Notes {
	max-width:900px;
}

#Notes p, #Notes li {
	font-family: "Oracle Sans",-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

.disabled { /* needed to support svg doing the button formatting */
	border-color: #2e6da4;
	background-color: #337ab7;
}

.hideme { /* added to hide SlideList in index.html and Overview section*/
  display:none;
}

.breadcrumb * {
   font-size: 12px;
}

.breadcrumb > li {
	font-size: 12px;
}

.breadcrumb  {
	padding: 0px;
	margin-bottom: 5px;
}

.breadcrumb > li + li:before {
  content: "/";
  padding: 0 6px;
  color: #cccccc;
  font-size:12px;
}

#BreadcrumbDiv {
	margin-left:0px;
	margin-top: 10px;
	
}


#Breadcrumbs a.last-item {
	color: #696969;
        font-size:12px;
}

#Breadcrumbs a.last-item:hover {
	text-decoration: none;
	cursor:default;
}

#Breadcrumbs a.last-item:focus {
	text-decoration: none;
}

#SlideName {
	display: inline;
	font-weight: bold;
	font-size: 10px;
	margin-left:3px;
}

#IAD {
	min-height:101% !important;
	min-width:100% !important;
}

h2 {
	margin:6px 0px 0px 0px;
	padding:0px;
	font-size:20px;
	color: black;
}

.oraclecode {
	font-family: "Courier New", Courier, monospace;
	display:inline;
}

ol ol li {
	list-style-type: lower-alpha;
}

ol ol ol li {
	list-style-type: lower-roman;
}

.iadcontainer {
	overflow:hidden;
}

main {
	min-height: 100vh;
	background-color: #fcfbfa;
}

