html {
    overflow-anchor: none;
}

@media only screen and (min-width: 767.1px) {
    .ohc-sidebar {
        min-width: 320px;
        width: 320px;
        max-width: 320px;
    }

	html[dir=rtl] .ohc-sidebar {
    min-width: 338px;
    width: 320px;
    max-width: 320px;
    }
		
    .ohc-sidebar .filters>ul>li>div {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

@media only screen and (min-width: 1400px) {
    .ohc-sidebar+article {
        min-width: initial;
    }
}

@media only screen and (min-width: 1200px) {
    .ohc-sidebar+article {
        min-width: initial;
    }
}

@media only screen and (min-width: 992px) {
    .ohc-sidebar+article {
        min-width: initial;
    }
}

@media only screen and (min-width: 767.1px) {
    .ohc-sidebar+article {
        min-width: initial;
    }
}

.filters label,
.filters input {
    display: inline;
    font-weight: normal;
}

.filter-show-button,
.filter-remove-button {
    font-size: 80%;
    padding-top: 5px;
}

html[dir=rtl] .filter-show-button, html[dir=rtl] .filter-remove-button {
    float: left !important;
}

.filters ul.show-top .bottom-result {
    display: none;
}

.ohc-sidebar .filters>ul {
    margin-left: 12px;
    max-height: 400px;
    overflow: auto;
}

.filters>label {
    font-weight: bold;
}

.infoclass {
    position: relative;
    display: block;
    float: right;
}

html[dir=rtl] .infoclass {
    position: relative;
    display: block;
    float: left;
}

a.infoclass:focus {
    outline: 2px #226AA8 dashed;
}

a.infoclass {
    margin: 6px;
    padding-right: 4px;
    padding-left: 4px;
}

.popover-title button.close {
    margin-top: -4px;
    margin-right: -4px;
}

.reference-architecture a.infoclass {
    color: #e85c63;
}

.solution-guide a.infoclass {
    color: #81bb5f;
}

.unknown a.infoclass {
    color: gray;
}

.popover {
    width: 100%;
    max-width: 100%;
    margin-left: -40%;
}

.popover .arrow {
    display: none;
}

.subsection header.small-logo>div.outerlogo {
    margin-left: 8px;
    bottom: -68px;
    width: 48px;
    height: 48px;
}

.subsection header.small-logo img.logo {
    width: 30px;
    height: 30px;
}

.subsection>div.solution-border {
    padding-left: 60px;
    padding-top: 0;
    padding-right: 12px;
    overflow: hidden;
    border: lightgray 1px solid;
    border-top-style: none;
    border-top-width: 0;
    height: 210px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.fake-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.ohc-sidebar .filters li>* {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.ohc-sidebar .links {
    padding-left: 12px;
    padding-right: 12px;
}

.ohc-sidebar hr.filters {
    padding: 0;
}

.hrclass {
    margin-top: 7px;
    margin-bottom: 7px;
}

.solutions-box {
    position: relative;
}

.solutions-type {
    position: absolute;
    bottom: 0;
    left: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
    font-size: 22px;
    font-family: Impact, Charcoal, sans-serif;
}

.solutions-link {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 8px;
    padding-right: 8px;
}

.description {
    max-height: 6.0em;
    line-height: 1.2em;
    overflow: hidden;
}

article .description p {
    margin-top: 0;
    margin-bottom: 17px;
    line-height: 17px;
}

.title-with-text {
    max-height: 4.2em;
    line-height: 1.2em;
    overflow: hidden;
}

#clear-filters,
#sol-search-submit-btn {
    margin-top: 12px;
}


.links .panel-collapse ul>li>a {
    padding: 4px;
}

.links .panel-body {
    padding: 8px;
}

.links .panel>a {
    color: #333;
}

.links .panel-heading {
    background-color: #f5f5f5;
    border-color: #ddd;
}

.links .panel-heading .panel-title {
    font-size: 14px;
    font-weight: bold;
}

.links .panel-heading .panel-title .fa {
    margin: 3px;
    -webkit-transition: 500ms ease-in-out;
    -moz-transition: 500ms ease-in-out;
    -o-transition: 500ms ease-in-out;
    transition: 500ms ease-in-out;
}

/* Unknown Styles*/
.subsection.unknown header>div.bar,
.subsection.unknown header.large-logo {
    background-color: lightgray !important;
}

.subsection.unknown header .circle {
    background-color: rgba(180, 180, 180, 0.7) !important;
}

.subsection.unknown header>div.outerlogo {
    background-color: gray !important;
}

.subsection.unknown:hover header>div.bar,
.subsection.unknown:hover header.large-logo {
    background-color: darkgray !important;
}

.subsection.unknown:hover header .circle {
    background-color: rgba(125, 125, 125, 0.5) !important;
}

.subsection.unknown .solutions-type {
    color: darkgray;
}

/* reference-archticture Styles*/
.subsection.reference-architecture header>div.bar,
.subsection.reference-architecture header.large-logo {
    background-color: #f6ccc2 !important;
}

.subsection.reference-architecture header .circle {
    background-color: rgba(239, 171, 159, 0.7) !important;
}

.subsection.reference-architecture header>div.outerlogo {
    background-color: #e85c63 !important;
}

.subsection.reference-architecture:hover header>div.bar,
.subsection.reference-architecture:hover header.large-logo {
    background-color: #efab9f !important;
}

.subsection.reference-architecture:hover header .circle {
    background-color: rgba(232, 92, 99, 0.5) !important;
}

.subsection.reference-architecture .solutions-type {
    color: #efab9f;
}

/* solution-guide Styles*/
.subsection.solution-guide header>div.bar,
.subsection.solution-guide header.large-logo {
    background-color: #d1e7cc !important;
}

.subsection.solution-guide header .circle {
    background-color: rgba(186, 216, 177, 0.7) !important;
}

.subsection.solution-guide header>div.outerlogo {
    background-color: #81bb5f !important;
}

.subsection.solution-guide:hover header>div.bar,
.subsection.solution-guide:hover header.large-logo {
    background-color: #bad8b1 !important;
}

.subsection.solution-guide:hover header .circle {
    background-color: rgba(129, 187, 95, 0.5) !important;
}

.subsection.solution-guide .solutions-type {
    color: #bad8b1;
}

@media only screen and (min-width: 1400px) {
    .title-with-text {
        max-height: 3.1em;
    }

    .subsection>div.solution-border {
        height: 190px;
    }
}

.solution.subsection > .solutions-box {
    margin-top: 28px;
}

.solutions-box .binspired,
.solutions-box .binspired-sm {
    position: absolute;
    bottom: 0;
    left: 0;
}

.binspired {
    background-image: url('../img/inspired-center-green.png');
    background-size: 10px 100%;
    color: white;
    margin-left: 56px;
    margin-right: 26px;
	font-size: 13px;
    font-weight: 600;
}

.binspired:before {
    background: url('../img/inspired-left-green.png') 0 0 no-repeat;
    height: 40px;
    width: 56px;
    display: inline-block;
    content: "";
    background-size: 100% 100%;
    position: absolute;
    margin-left: -56px;
}

.binspired:after {
    background: url('../img/inspired-right-green.png') 0 0 no-repeat;
    height: 40px;
    width: 26px;
    display: inline-block;
    content: "";
    background-size: 100% 100%;
    position: absolute;
}

html[dir=rtl] .solutions-box .binspired, html[dir=rtl] .solutions-box .binspired-sm {
    right: auto !important;
    left: 0;
    transform: scaleX(-1);
    margin-left: 21px !important;
}

html[dir="rtl"] .binspired {
    background-image: url('../img/inspired-center-green.png');
    background-size: 10px 100%;
    color: white;
    margin-left: 56px;
    margin-right: 26px;
	font-size: 13px;
    font-weight: 600;
}

html[dir="rtl"] .binspired:after {
    background: url('../img/inspired-left-green.png') 0 0 no-repeat;
    width: 56px;
    background-size: 100% 100%;
}

html[dir="rtl"] .binspired:before {
    background: url('../img/inspired-right-green.png') 0 0 no-repeat;
    width: 26px;
    background-size: 100% 100%;
    margin-right: -26px;
}

.binspired {
    display: none;
}

.binspired-sm {
    display: inline-block;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    article div.main-description > div.well.well-sm > .binspired {
        text-transform: lowercase;
    }

    article div.main-description > div.well.well-sm > .binspired:first-letter {
        text-transform: uppercase;
    }
}

@media (min-width: 480px) {
    .binspired {
        display: inline-block;
    }

    .binspired-sm {
        display: none;
    }
}

@media (min-width: 992px) and (max-width:1200px) {
    .binspired {
        display: none;
    }

    .binspired-sm {
        display: inline-block;
    }
}

.binspired,
.binspired-sm {
    height: 40px;
    line-height: 40px;
    width: auto;
}

.section.row .subsection header.large-logo {
    background-color: #ffffff !important;
}

.solution.subsection header>div.bar {
    background-color: #ffffff !important;
}

.solution.subsection header.small-logo>div.bar {
    border-bottom: none;
}

.section.row.solution-tiles .solution.subsection:hover {
    background-color: #ffffff !important;
}

.subsection header>div.outerlogo {
    margin-left: 30px;
}

.solution-border {
    padding-left: 30px !important;
}

.solution a.infoclass {
    color: #70665e;
}

div.ohc-grid>div>article.learning-path>div.main-description>div.well.well-sm {
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 10px;
    margin-bottom: 35px;
}

div.ohc-grid>div>article.learning-path>div.main-description>div.well.well-sm>.binspired,
div.ohc-grid>div>article.learning-path>div.main-description>div.well.well-sm>.binspired-sm {
    margin-right: 50px;
}

div.ohc-grid>div>article.learning-path>div.main-description>div.col-lg-8.well.well-sm>div.h3 {
    font-family: 'Oracle Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-size: 19px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.26;
    letter-spacing: normal;
    text-align: left;
    color: #1a1816 !important;
    margin-top: 9px !important;
}

.subsection header.large-logo:not(.solution)>div.outerlogo {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-top: 50px;
}

.subsection header.large-logo:not(.solution)>div.outerlogo>img.logo {
    width: 40px;
    height: 40px;
}

.subsection header.large-logo:not(.solution)>div.outerlogo {
    filter: none;
}

.section.row .subsection.reference-architecture header.large-logo:not(.solution)>div.outerlogo {
    background-color: #438c9a !important;
}

.section.row .subsection.solution-guide header.large-logo:not(.solution)>div.outerlogo {
    background-color: #588757 !important;
}

.section.row .subsection .subsection {
    margin-bottom: 0px;
}

main article .section .subsection .section-border h3 a {
    font-size: 19px;
    font-weight: bold;
    color: #1a1816;
}

main article .section .subsection .section-border h3 a:hover,
main article .section .subsection .section-border h3 a:focus {
    color: #1a1816;
    text-decoration: underline;
}

main article .section .subsection .section-border h3 a:active {
    color: #70665e;
    text-decoration: underline;
}

/* Redwood changes */

/* ohc-sidebar changes START */

.ohc-sidebar {
    padding-right: 0;
}

.ohc-sidebar > form {
    display: block;
}

.ohc-sidebar .links {
    padding-left: 18px;
    padding-right: 18px;
}

.ohc-sidebar li:not(.active) {
    display: block;
}

.ohc-sidebar .solution-search-form .form-group {
	margin-bottom: 45px;
}

body div#more-modal div.modal-body .input-group input,
.ohc-sidebar .solution-search-form .form-control {
	height: 44px;
	color: #1a1816;
	border-color: #1a1816;
	box-shadow: none;
}

body div#more-modal div.modal-body .input-group input:-ms-input-placeholder,
.ohc-sidebar .solution-search-form .form-control:-ms-input-placeholder,
body div#more-modal div.modal-body .input-group input:placeholder,
.ohc-sidebar .solution-search-form .form-control:placeholder {
	color: #868686;
}

.ohc-sidebar .filters>ul>li>div label:focus,
.solution.subsection header.small-logo>div.bar .popover h3 strong:focus,
body div#more-modal div.modal-body .input-group-btn>ul:focus,
body div#more-modal div.modal-body .input-group-btn:focus,
body div#more-modal div.modal-body div.links label:focus,
.ohc-sidebar .solution-search-form .input-group-btn>ul:focus,
.ohc-sidebar .solution-search-form .input-group-btn:focus {
	outline: none;
}

body div#more-modal div.modal-body div.links label .chkbox:focus,
.ohc-sidebar .filters>ul>li>div label div.chkbox:focus {
	outline-color: #6A9D67;
}

body div#more-modal div.modal-body .input-group-btn>button,
body div#more-modal div.modal-body div.links div > button.btn,
.ohc-grid article.container-fluid div.dropdown button,
.ohc-sidebar .solution-search-form .input-group-btn>button {
	border-color: #1a1816 !important;
    box-shadow: none !important;
    height: 44px;
}

.ohc-sidebar .filters>ul {
	margin-bottom: 24px;
	margin-left: 0;
}

html[dir=rtl] .ohc-sidebar .filters>ul {
    margin-bottom: 24px;
    margin-right: -44px;
}

.ohc-sidebar .filters>ul>li>div {
    font-family: 'Oracle Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #1a1816;
	margin-bottom: 12px;
}

html[dir=rtl] .ohc-sidebar .filters>ul>li>div {
    text-align: right;
}

.ohc-sidebar .filters>ul>li>div label div.chkbox {
    border-color: #1a1816;
    border-radius: 20%;
	width: 16px;
	height: 16px;
	margin-right: 9px;
	margin-bottom: 1px;
}

html[dir=rtl] .ohc-sidebar .filters>ul>li>div label div.chkbox {
    margin-left: 9px;
}

.ohc-sidebar .filters>ul>li>div label div.chkbox i.chkmrk.fa.fa-check {
    color: #ffffff;
    font-size: 15px;
	position: inherit;
}

body div#more-modal div.modal-body div.links label div.chkbox[aria-checked=true],
.ohc-sidebar .filters>ul>li>div label div.chkbox[aria-checked=true] {
    background-color: #1a1816;
}

body div#more-modal div.modal-body div.links label div.chkbox {
	border-color: #1a1816;
    border-radius: 20%;
	width: 14px;
	height: 14px;
	margin-right: 9px;
	margin-bottom: 1px;
}

body div#more-modal div.modal-body div.links label div.chkbox i.chkmrk.fa.fa-check {
	color: #ffffff;
    font-size: 13px;
	position: inherit;
}

.ohc-sidebar .filters .filter-remove-button a,
.ohc-sidebar .filters .filter-show-button a {
    font-family: 'Oracle Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #00688C;
}

body div#more-modal div.modal-body div.links div>a {
	color: #00688C;
}

body div#more-modal div.modal-body div.links div>a:active,
.ohc-sidebar .filters .filter-show-button a:active {
    color: #70665e;
    text-decoration: underline;
    text-decoration-color: #70665e;
}

.ohc-grid .ohc-sidebar div.links div.filters div.h4,
main article .section .subsection h3 a.solutionurl {
    font-family: 'Oracle Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-size: 19px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.26;
    letter-spacing: normal;
    text-align: left;
    color: #1a1816;
    text-decoration: none;
}

html[dir=rtl] .ohc-grid .ohc-sidebar div.links div.filters div.h4 {
    text-align: right !important;
    margin-right: 8px;
}

.subsection .solutions-box a.solutions-link:focus,
main article .section .subsection h3 a.solutionurl:focus {
	text-decoration: underline;
}

.ohc-grid .ohc-sidebar div.links div.filters div.h4 {
	margin-top: 0px;
	margin-bottom: 11px;
}

.ohc-grid .ohc-sidebar div.links div button.btn.btn-default.btn-xs {
    font-family: 'Oracle Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: center;
    color: #1a1816;
    text-decoration: none;
    width: 127px;
    height: 57px;
    border-radius: 4px;
    border: solid 1px #707070;
}

body div#more-modal div.modal-body .input-group-btn>button:focus,
body div#more-modal div.modal-body div.links div > button.btn:focus,
.ohc-grid article.container-fluid div.dropdown button:focus,
.ohc-sidebar .solution-search-form .input-group-btn>button:focus,
.ohc-grid .ohc-sidebar div.links div button.btn.btn-default.btn-xs:focus {
	border-color: #6a9d67 !important;
	background-color: #ffffff !important;
	outline: none;
}

body div#more-modal div.modal-body .input-group-btn>button:hover,
body div#more-modal div.modal-body div.links div > button.btn:hover,
.ohc-grid article.container-fluid div.dropdown button:hover,
.ohc-sidebar .solution-search-form .input-group-btn>button:hover,
.ohc-grid .ohc-sidebar div.links div button.btn.btn-default.btn-xs:hover {
	background-color: #f3f1ef !important;
}

body div#more-modal div.modal-body div.links div > button.btn:active,
body div#more-modal div.modal-body .input-group-btn>button:active,
.ohc-grid article.container-fluid div.dropdown button:active,
.ohc-sidebar .solution-search-form .input-group-btn>button:active,
.ohc-grid .ohc-sidebar div.links div button.btn.btn-default.btn-xs:active {
	background-color: #e9e7e4 !important;
}


/* ohc-sidebar END */

article div.main-description {
    font-family: 'Oracle Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: left;
    color: #1a1816;
    margin-bottom: 20px;
    margin-top: 20px;
}


html[dir=rtl] article div.main-description {
    text-align: right;
}

/* Sort-by START */

article div[id=sort-by] {
    font-family: 'Oracle Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #727071;
    margin-bottom: 38px
}


html[dir=rtl] article div[id=sort-by] {
    text-align: right;
}

article div[id=sort-by] span {
	padding-left: 8.6px;
}

article div[id=sort-by] span.selectspan select[name=filter] {
    font-family: 'Oracle Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #1a1816;
    height: 44px;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(29, 29, 29, 0.3);
    background-color: #ffffff;
	padding-left: 20.4px;
}

article div[id=sort-by] span.selectspan select[name=filter]:disabled {
    color: #bab9b7;
    background-color: #f3f1ef;
    box-shadow: none;
}


article div[id=sort-by] span.selectspan select[name=filter]:active {
    color: #d1ccc7;
    border-left-width: 3px;
    border-left-color: #6a9d67;
}

article div[id=sort-by] span.selectspan select[name=filter] option {
    color: #000000;
}

article div[id=sort-by] span.selectspan select[name=filter] option:focus,
article div[id=sort-by] span.selectspan select[name=filter] option:hover,
article div[id=sort-by] span.selectspan select[name=filter] option:checked {
    background: #f4f3f1;
}

/* Sort-by END */

/* Cards changes START */

.subsection:not(.solution) header.large-logo {
    height: 115px;
}

main article .subsection:not(.solution) .section-border {
    margin-bottom: 10px;
}

article > div.section > div.subsection.card:not(.solution) {
    background-color: white;
}

.section.row.solution-tiles .solution.subsection {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    padding-left: 30px;
    padding-right: 29px;
    padding-bottom: 15.4px;
    padding-top: 25.6px;
}

@media only screen and (max-width: 670px) and (min-width: 0) {
    .container-fluid {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}

@media only screen and (max-width: 768px) {
    .container-fluid {
        padding-left: 20px;
        padding-right: 20px;
    }

    main article h1 {
        line-height: 0.95;
    }

    div.subsection.col-md-6:not(.solution) {
        margin-bottom: 23px;
    }
}

@media only screen and (max-width: 992px) {
    div.subsection.col-md-6 {
        margin-bottom: 23px;
    }
}

@media only screen and (min-width: 992px) {
    div.subsection.col-md-6 {
        width: 45%;
        margin-right: 30px;
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 1200px) {
    div.subsection.col-md-6:not {
        width: 46%;
        margin-right: 30px;
        margin-bottom: 30px;
    }
}

.solution.subsection header.small-logo {
    height: 67px;
}

.solution.subsection header.small-logo>div.bar {
    border: none;
    border-radius: 0;
    position: relative;
}

.solution.subsection header.small-logo>div.bar .tile-type {
    position: absolute;
    left: 42px;
    top: 6px;
}

html[dir=rtl] .solution.subsection header.small-logo>div.bar .tile-type {
    position: relative;
    left: -46px;
    top: 6px;
    float: right;
}

.solution.subsection header.small-logo>div.bar a.infoclass {
    margin: 0;
    padding: 0;
}

.solution.subsection header.small-logo>div.bar .popover {
	border: 1px;
	border-radius: 4px;
	border-color: #CBC5BF;
}

.solution.subsection header.small-logo>div.bar .popover h3 {
	font-family: 'Oracle Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #70665e;
	margin: 0;
	padding-left: 20px;
	padding-right: 19px;
	padding-bottom: 13px;
	padding-top: 14px;
	background-color: #fcfbfa;
}

.solution.subsection header.small-logo>div.bar .popover h3:hover {
	text-decoration: none;
}

.solution.subsection header.small-logo>div.bar .popover h3 button {
	color: #70665e;
	opacity: 1;
	margin-top: 2px;
}


html[dir=rtl] .solution.subsection header.small-logo>div.bar .popover h3 button {
    float: left;
}


.solution.subsection header.small-logo>div.bar .popover h3 button:focus,
.solution.subsection header.small-logo>div.bar .popover h3 button:hover {
	outline: none;
}

.solution.subsection header.small-logo>div.bar .popover .popover-content {
	padding-top: 17px;
	padding-left: 21px;
	padding-right: 20px;
	padding-bottom: 7px;
}

.solution.subsection header.small-logo>div.bar .popover .popover-content div {
	font-family: 'Oracle Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: left;
    color: #1a1816;
}


html[dir=rtl] .solution.subsection header.small-logo>div.bar .popover .popover-content div {
    text-align: right;
}


.subsection header.small-logo>div.outerlogo>img.logo {
    width: 16px !important;
    height: 16px !important;
}


html[dir=rtl] .subsection header.small-logo>div.outerlogo>img.logo {
    transform: scaleX(-1);
}

.subsection>div.solution-border {
    background-color: #ffffff;
    border: none;
    padding-left: 0px !important;
    padding-right: 0px;
}

main article .section .subsection h3 {
    padding-top: 0;
    margin-bottom: 14px;
	max-height: 72px;
}

main article .section .subsection h3.title-with-text {
    line-height: 24px;
}

main article .section .subsection h3:hover {
    text-decoration: underline;
}

.subsection .solutions-box a.solutions-link {
    font-family: 'Oracle Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #1a1816;
    text-decoration: none;
    right: auto;
    padding-right: 0;
    padding-bottom: 10px;
}

.solutions-box .binspired,
.solutions-box .binspired-sm {
    position: absolute;
    bottom: 0;
    left: auto;
    right: 0;
}

.subsection .solutions-box a.solutions-link:hover {
    text-decoration: underline;
}

.subsection .solutions-box a.solutions-link span.fa.fa-search {
    visibility: hidden;
}

.subsection div,
div.ohc-grid>div>article.learning-path>div.main-description>div.well.well-sm p {
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.44;
	letter-spacing: normal;
	text-align: left;
	color: #1a1816;
}

/* Unknown Styles*/
.subsection.unknown header.small-logo div.outerlogo {
    filter: none !important;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: absolute;
}

/* reference-architecture  Styles */
.subsection.reference-architecture header.small-logo div.outerlogo {
    background-color: #41817E !important;
    filter: none !important;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: absolute;
    margin: 0px;
}

.subsection.reference-architecture:hover header.small-logo>div.bar {
    background-color: #ffffff !important;
}

/* solution-guide  Styles */
.subsection.solution-guide header.small-logo div.outerlogo {
    background-color: #61815A !important;
    filter: none !important;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: absolute;
    margin: 0px;
}

.subsection.solution-guide:hover header.small-logo>div.bar {
    background-color: #ffffff !important;
}

[role="banner"] {
    margin-bottom: 8px;
}
